---
import Sidebar from "@wing/components/Sidebar.astro";
import "@wing/styles/global.css";

export interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		
		<title>{title}</title>
		<meta name="description" content={description}/>
		<meta name="theme-color" content="#02E376"/>
		<link rel="icon" href="/favicon.png" />

		<meta name="og:type" content="website" />
		<meta name="og:title" content={title} />
		<meta name="og:description" content={description} />
		<meta name="og:url" content={Astro.url} />
		<meta name="og:image" content="/favicon.png" />
	</head>
	
	<body>
		<script is:raw>
            let theme = localStorage.getItem("theme");
            if (!theme || !["light", "dark"].includes(theme)) {
                theme = window.matchMedia("(prefers-color-scheme: dark)")
                    .matches
                    ? "dark"
                    : "light";
            }
            document.body.classList.add(theme);
        </script>
		
		<main>
			<div class="sidebar">
				<Sidebar />
			</div>
			
			<div class="content">
				<slot />
			</div>
		</main>
	</body>
</html>

<style>
	main {
		display: flex;
		justify-content: center;
		width: 100%;
	}

	.content {
		width: 50em;
	}
	
	.sidebar {
		margin-right: 4em;
	}
</style>